@import 'colors.css';

main.activities-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--light-cyan);
    border-radius: 1rem;
    margin-bottom: 3rem;


    .activity {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        border: 2px solid var(--mimi-pink);
        border-radius: 1rem;
        font-family: "Amatic SC";
        font-size: 2rem;
        font-weight: bold;

        img {
            width: 300px;
            aspect-ratio: 1/0.75;
            mix-blend-mode: multiply;
            transition: all;
            transition-duration: 0.1s;
        }
        
        img:hover{
            transform: scale(1.2);
        }
    }
}